//Основные точки перелома
@screen-width-big: 1023px;
@screen-width-normal: 800px;
@screen-width-small: 550px;
@screen-width-tiny: 374px;

//Горизонтальный отступ
@hor-indent: 30px;
@hor-indent-n: 20px;
@hor-indent-s: 10px;

//Шаг шрифта
@fz-1: 64px;
@fz-2: 36px;
@fz-3: 24px;
@fz-4: 18px;
@fz-5: 16px;

@fz-1-b: 54px;

@fz-1-n: 44px;
@fz-2-n: 30px;

@fz-1-s: 28px;
@fz-2-s: 24px;
@fz-3-s: 18px;
@fz-4-s: 16px;

//Базовые цвета типографики
@c-text: #666666;
@c-important-text: #333333;
@c-minor-text: #999999;

//Базовые цвета всего проекта
@c-main-brown: #3E2723;

//Цвета блоков и их частей
@c-btn-brown: #613C26;

//Толщина шрифта
@fw-norm: 400;
@fw-bold: 700;

//Межстрочный интервал
@lh-small: 1;
@lh-medium: 1.2;
@lh-big: 1.5;

//Max-width
@content-width: 1440px;

//Дополнительные шрифты
@alice-regular: 'Alice', sans-serif;
//========================================
